.filterContainer {
  display: flex;
  width: 80%;
  height: 3.5rem;
  gap: 5%;
}

.filterContainer #inFilter {
  flex: 1;
  background-image: url(../../img/buscar.png);
  background-repeat: no-repeat;
  background-size: 48px 48px;
  background-position: 3px 50%;
  padding: 1rem 0.5rem;
  padding-left: 60px;
}

#imgShowFormItems {
  cursor: pointer;
}
